# Importing libraries to be used

In [189]:
# Let's import the pandas library
#
import pandas as pd

# Loading the dataset

In [190]:
# Lets's read the csv file into a dataframe

data= pd.read_csv('owid-covid-data.csv')

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

## CLEANING OUR DATA

In [191]:
# let's replace the missing values the total_deaths column with 0 and print the first 10 rows

data["total_deaths"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [192]:
# let's replace the missing values the new_deaths column with 0 and print the first 10 rows

data["new_deaths"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [193]:
# let's replace the missing values the reproduction_rate column with 0 and print the first 10 rows

data["reproduction_rate"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [194]:
# let's replace the missing values the total_vaccinations column with 0 and print the first 10 rows

data["total_vaccinations"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [195]:
# lets replace the missing values the people_vaccinated column with 0 and print the first 10 rows

data["people_vaccinated"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [196]:
# lets replace the missing values the people_fully_vaccinated column with 0 and print the first 10 rows

data["people_fully_vaccinated"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [197]:
# lets replace the missing values the total_boosters column with 0 and print the first 10 rows

data["total_boosters"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [198]:
# lets replace the missing values the new_vaccinations column with 0 and print the first 10 rows

data["new_vaccinations"].fillna(0, inplace = True)

data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [199]:
# Dropping columns
# Let's drop the columns that we don't need

data.drop(['iso_code','aged_65_older','new_deaths_smoothed','new_cases_smoothed','new_cases_smoothed_per_million','new_deaths_smoothed_per_million','new_tests_smoothed','new_tests_smoothed_per_thousand','new_vaccinations_smoothed','new_vaccinations_smoothed_per_million','new_people_vaccinated_smoothed','new_people_vaccinated_smoothed_per_hundred','aged_70_older','icu_patients','icu_patients_per_million','hosp_patients','hosp_patients_per_million','weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million','new_tests','total_tests','total_tests_per_thousand','new_tests_per_thousand','positive_rate','tests_per_case','tests_units','median_age','extreme_poverty','cardiovasc_death_rate','diabetes_prevalence','female_smokers','male_smokers','handwashing_facilities','hospital_beds_per_thousand','human_development_index','excess_mortality_cumulative_absolute','excess_mortality_cumulative','excess_mortality','excess_mortality_cumulative_per_million','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','new_deaths_per_million','total_deaths_per_million','total_deaths_per_million','total_cases_per_million','new_cases_per_million'], axis = 1, inplace = True)

data.head(10)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,stringency_index,population,population_density,gdp_per_capita,life_expectancy
0,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
5,Asia,Afghanistan,2020-02-29,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
6,Asia,Afghanistan,2020-03-01,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83
7,Asia,Afghanistan,2020-03-02,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83
8,Asia,Afghanistan,2020-03-03,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83
9,Asia,Afghanistan,2020-03-04,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83

In [200]:
# let's rename some of the columns

renamed = {'hosp_patients':'hospitalized_patients','hosp_patients_per_million':'hospitalized_patients_per_million', 'weekly_hosp_admissions':'weekly_hospital_admissions','weekly_hosp_admissions_per_million' : 'weekly_hospital_admissions_per_million'}

data.rename(columns = renamed, inplace =True)

data.head(10)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,stringency_index,population,population_density,gdp_per_capita,life_expectancy
0,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
5,Asia,Afghanistan,2020-02-29,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,39835428.0,54.422,1803.987,64.83
6,Asia,Afghanistan,2020-03-01,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83
7,Asia,Afghanistan,2020-03-02,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83
8,Asia,Afghanistan,2020-03-03,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83
9,Asia,Afghanistan,2020-03-04,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,39835428.0,54.422,1803.987,64.83

In [201]:
# let's check the data types of the columns

data.dtypes

continent                   object
location                    object
date                        object
total_cases                float64
new_cases                  float64
total_deaths               float64
new_deaths                 float64
reproduction_rate          float64
total_vaccinations         float64
people_vaccinated          float64
people_fully_vaccinated    float64
total_boosters             float64
new_vaccinations           float64
stringency_index           float64
population                 float64
population_density         float64
gdp_per_capita             float64
life_expectancy            float64
dtype: object

In [202]:
# let's check for columns with missing values

data.isnull().sum()

continent                   9787
location                       0
date                           0
total_cases                 2992
new_cases                   3072
total_deaths                   0
new_deaths                     0
reproduction_rate              0
total_vaccinations             0
people_vaccinated              0
people_fully_vaccinated        0
total_boosters                 0
new_vaccinations               0
stringency_index           35713
population                  1062
population_density         18059
gdp_per_capita             27314
life_expectancy            10862
dtype: int64

In [203]:
# let's check for duplicate values

data.duplicated().sum()

0

In [204]:
# let's check for unique values

data.nunique().any()

True

In [205]:
# let's check for sizw of the dataframe

data.shape

(163318, 18)

# ANALYSIS

In [206]:
# QUESTION 1: FINDING THE CHANGES IN MORTALITY RATE FROM WHEN THEREWAN NO VACCINE TO WHEN THERE WAS A VACCINE

# let's find the mortality when there were no vaccines at the time of the data

data.loc[data['total_vaccinations'] == 0, 'total_deaths'].head(5)

# let's find the maximum value of total_deaths

data.loc[data['total_deaths'] == data['total_deaths'].max(), 'total_deaths']

# let's find the mortality when there were an abundance of vaccines

data.loc[data['total_vaccinations'] > 0, 'total_deaths'].tail(5)

163313    5379.0
163314    5381.0
163315    5385.0
163316    5386.0
163317    5386.0
Name: total_deaths, dtype: float64

#### The inference for the investigation above has been documented below

In [207]:
# In the data provided, certain regions such as Afghanistan had no data provided on mortality rates at the start
# so our inference is that the mortality rate was 0 then. We can see this in the results above. We can also see that 
# the mortality rised to a maximum of 5886957.0 in the data provided and then fell again when there was an abundance of vaccines.

In [208]:
# QUESTION 2: FINDING THE AREAS WITH LOW VACCINE COVERAGE

# let's find the areas with low vaccine supply and print the first 10 rows

data['total_vaccinations'].groupby(data['location']).min().sort_values(axis=0, ascending=False).head(10)

location
Afghanistan        0.0
Palau              0.0
New Zealand        0.0
Nicaragua          0.0
Niger              0.0
Nigeria            0.0
Niue               0.0
North America      0.0
North Macedonia    0.0
Northern Cyprus    0.0
Name: total_vaccinations, dtype: float64

In [234]:
# QUESTION 4:

#Let’s find the overall change in population from the COVID-19 pandemic in:
# Kenya, Malaysia, Spain, Venezuela, Panama

data['population_diff'] = data['population'] - data['total_deaths']
data.tail()

country = data[(data['location'] == 'Kenya')]
change_kenya = (country['population_diff'].max() - country['population_diff'].min())
overall_change = (change_kenya / country['population_diff'].max() *100)

print("The overall change in population was", change_kenya, "and it by", overall_change, "percent")

The overall change in population was 5635.0 and it by 0.010248118683653435 percent

#### The inference for the investigation above has been documented below

In [235]:
# 5635 died in Kenya. This was a 0.01% change in population

In [236]:
#Let’s find the overall change in population from the COVID-19 pandemic in:
# Kenya, Malaysia, Spain, Venezuela, Panama

data['population_diff'] = data['population'] - data['total_deaths']
data.tail()

country = data[(data['location'] == 'Malaysia')]
change_malaysia = (country['population_diff'].max() - country['population_diff'].min())
overall_change = (change_malaysia / country['population_diff'].max() *100)

print("The overall change in population was", change_malaysia, "and it by", overall_change, "percent")

The overall change in population was 32347.0 and it by 0.09869052829347641 percent

#### The inference for the investigation above has been documented below

In [237]:
# 32347 died in Malaysia. This was a 0.01% change in population

In [238]:
#Let’s find the overall change in population from the COVID-19 pandemic in:
# Kenya, Malaysia, Spain, Venezuela, Panama

data['population_diff'] = data['population'] - data['total_deaths']
data.tail()

country = data[(data['location'] == 'Spain')]
change_spain = (country['population_diff'].max() - country['population_diff'].min())
overall_change = (change_spain / country['population_diff'].max() *100)

print("The overall change in population was", change_spain, "and it by", overall_change, "percent")

The overall change in population was 97998.0 and it by 0.2096428658756081 percent

#### The inference for the investigation above has been documented below

In [239]:
# 97998 died in Spain. This was a 0.21% change in population

In [240]:
#Let’s find the overall change in population from the COVID-19 pandemic in:
# Kenya, Malaysia, Spain, Venezuela, Panama

data['population_diff'] = data['population'] - data['total_deaths']
data.tail()

country = data[(data['location'] == 'Venezuela')]
change_venezuela= (country['population_diff'].max() - country['population_diff'].min())
overall_change = (change_venezuela / country['population_diff'].max() *100)

print("The overall change in population was", change_venezuela, "and it by", overall_change, "percent")

The overall change in population was 5602.0 and it by 0.019515799837568067 percent

#### The inference for the investigation above has been documented below

In [241]:
# 5602 died in Venezuela. This was a 0.2% change in population

In [242]:
#Let’s find the overall change in population from the COVID-19 pandemic in:
# Kenya, Malaysia, Spain, Venezuela, Panama

data['population_diff'] = data['population'] - data['total_deaths']
data.tail()

country = data[(data['location'] == 'Panama')]
change_panama = (country['population_diff'].max() - country['population_diff'].min())
overall_change = (change_panama / country['population_diff'].max() *100)

print("The overall change in population was", change_panama, "and it by", overall_change, "percent")

The overall change in population was 8019.0 and it by 0.18301604694011275 percent

#### The inference for the investigation above has been documented below

In [243]:
# 8019 died in Panama. This was a 0.2% change in population

In [244]:
# QUESTION 6:

# Let’s investigate the changes in stringency index as a result of COVID deaths in Kenya, Malaysia, Spain, Venezuela, Panama 
# Find differences between first and last months in stringency index

# let's find the difference in stringency index for kenya

data.loc[data['location'] == 'Kenya', 'stringency_index'].max() - data.loc[data['location'] == 'Kenya', 'stringency_index'].head(1)

# let's find the difference in stringency index for Malaysia

data.loc[data['location'] == 'Malaysia', 'stringency_index'].max() - data.loc[data['location'] == 'Malaysia', 'stringency_index'].head(1)

# let's find the difference in stringency index for Spain

data.loc[data['location'] == 'Spain', 'stringency_index'].max() - data.loc[data['location'] == 'Spain', 'stringency_index'].head(1)

# let's find the difference in stringency index for Venezuela

data.loc[data['location'] == 'Venezuela', 'stringency_index'].max() - data.loc[data['location'] == 'Venezuela', 'stringency_index'].head(1)

# let's find the difference in stringency index for Panama

data.loc[data['location'] == 'Panama', 'stringency_index'].max() - data.loc[data['location'] == 'Panama', 'stringency_index'].head(1)

114949    85.19
Name: stringency_index, dtype: float64

#### The inference for the investigation above has been documented below

In [245]:
# From the investigation conducted above, we can see that the stringency index for Kenya, Malaysia, Spain, Venezuela, and Panama steadily increased from the first day of month 
# to an all time high when COVID-19 was at its peak. This is because governments were trying to be strict on its policies for COVID-19 safety measures.

In [246]:
# QUESTION 7: Let’s investigate the changes in life expectancy as a result of COVID deaths. 
# Compare life expectancy
# Add a comparison column using the average of life expectancy, 72.74 yrs

# Creating a new column to help us compare

data["average_life_expectancy_before"]= float(72.74)

data.head(10)

# Finding the most popular life expectancy for covid patient across the countries

data["life_expectancy"].mode()

0    76.88
Name: life_expectancy, dtype: float64

#### The inference for the investigation above has been documented below

In [ ]:
# From the investigation conducted above in comparison to the normal life expectancy, COVID-19 did not have an effect on the life expectancy.
# This is seen in the situation above where the most common life expectancy for covid victims is is 76.88 yrs in a world where the 
# life expectancy is 72.74 yrs.